{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "plugins": []
}
