.footer {
    align-items: flex-end;
    background-color: #1a1a1a;
    display: flex;
    grid-area: footer;
    width: 100%;
}
.contacts {
    align-items: center;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.copywriting a {
    color: #fff;
}
.social-media img {
    width: 50px;
}
