#introduct {
    align-items: center;
    background-color: #1e1e1e;
    display: grid;
    grid-area: introduct;
    justify-items: center;
    line-height: 4.5em;
    padding: 1em;
}
.machine {
    text-align: center;
    width: 65%;
}

.machine .palavra {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    width: 100%;
}
