.main {
    display: grid;
    grid-template-areas:
        'introduct introduct introduct'
        'about about about'
        'habilities habilities habilities'
        'projects projects projects'
        'footer footer footer';
    grid-template-rows: 100vh auto auto auto 30vh;
}

.titles {
    padding: 1em 0;
}
