@media (max-width: 1230px) {
    .machine .palavra {
        font-size: 2em;
    }
}

@media (max-width: 1120px) {
    .machine {
        width: 90%;
    }

    .machine .palavra {
        font-size: 1.5em;
    }

    .me {
        grid-template-areas:
            'title-me'
            'image'
            'texts';
        grid-template-rows: 30vh 30vh auto;
        width: 100%;
    }

    .me .image img {
        width: 18em;
    }

    .main {
        grid-template-rows: repeat(4, minmax(100vh, auto));
    }

    .project {
        height: 220px;
        width: 320px;
    }

    .project .content {
        left: -20%;
        top: 35%;
        transform: rotate(-55deg);
    }
}

@media (max-width: 600px) {
    .header {
        justify-content: space-between;
        background-color: #1e1e1e;
        border: none;
    }

    .container-icon {
        display: none;
    }

    .navegation-pages {
        backdrop-filter: blur(10px);
        background-color: #1e1e1e;
        display: flex;
        flex-direction: column;
        height: 0;
        gap: 8em;
        right: 0;
        overflow: hidden;
        position: absolute;
        top: 80px;
        transition: 0.5s;
        visibility: hidden;
        width: 100vw;
        z-index: 1;
    }

    html.active {
        overflow: hidden;
    }

    .navegation.active .navegation-pages {
        height: calc(100vh - 80px);
        overflow-y: scroll;
        visibility: visible;
    }

    .navegation-pages li {
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
    }

    .navegation-pages li a {
        width: 100%;
        padding: none;
        padding: 1em;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navegation-menu-mobile {
        display: block;
    }

    .main {
        grid-template-areas:
            'introduct'
            'about'
            'habilities'
            'projects'
            'footer';
    }

    #habilities {
        grid-template-areas:
            'title'
            'skills'
            'text-skill';

        grid-template-rows: 30vh auto auto;
    }

    .skills {
        padding: 0 1em;
    }

    #projects {
        grid-template-areas:
            'title'
            'project';
    }

    .footer > .contacts {
        padding: 1em;
    }

    .container-texts .texts {
        font-size: 1em;
        text-align: center;
    }
}

@media (max-width: 415px) {
    .machine {
        width: 100%;
    }

    .machine .palavra {
        font-size: 1.1em;
    }

    .me {
        grid-template-rows: 30vh 30vh auto;
    }

    .me .image img {
        max-width: 50%;
    }

    .container-texts .texts {
        font-size: 0.8em;
        text-align: center;
    }

    .project {
        width: 90vw;
    }

    .project .content {
        left: -12%;
        top: 35%;
        width: 120%;
        transform: rotate(-45deg);
    }

    .skill {
        width: 190px;
        height: 190px;
    }

    .text-skill {
        font-size: 1em;
    }

    .footer {
        padding-top: 1em;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        text-align: center;
    }
}
